
<%= render 'students/error_messages' %>
<div class="container">
    <div class="login-container">
            <div id="output" ></div>
            <div class="form-box">
            <h3> Rejestracja Studenta </h3>
            <%= form_for :student, url: students_path, html: { method: :post, :class => "form-horizontal"} do |f| %>

   
        
                <%= f.text_field :name, placeholder: "Imię",style: "text-transform: capitalize"  %>
           
       
            
                <%= f.text_field :surname, placeholder: "Nazwisko",style: "text-transform: capitalize"  %>
            
        
            
                <%= f.text_field :specialization, placeholder: "Specjalizacja" ,style: "text-transform: uppercase"   %>
          
        
        
            
                <%= f.text_field :email, placeholder: "Email"  %>
           
        
       
          
                <%= f.password_field :password,  placeholder: "Hasło" %>
           
                 <hr>
       
                <div class="form-group text-center">
                    <%= f.submit "Zapisz", class: "btn btn-primary active btn-lg" %>
                </div>
            <% end %>
        </div>
    <div class="col-xs-2 col-sm-4" >
    </div>
     </div>
</div>