 <table class="table table-striped table-list-search">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Nazwa</th>
                <th>Godzina</th>
                <th>Dzień</th>
                <th>Tydzień A/B</th>
                <th>Sala</th>  
                <th>Wolnych miejsc</th>    
            </tr>
        </thead>
        <tbody>
                <% if @lessons.empty? %>
                <td colspan="7"> Nie dodałeś żadnych zajęć </td>
                <%else %>

                <% @lessons.each_with_index do |lesson, i| %>
                <tr>
                    <td><%= (i+1) %></td>
                    <td><%= lesson.name %></td>
                    <td><%= lesson.hour %></td>
                    <td><%= lesson.day %></td>
                    <td><%= lesson.week_type %></td>
                    <td><%= lesson.room.name %></td>
                    <td><%=  (lesson.room.places - lesson.students.count).to_s + "/" + lesson.room.places.to_s%></td>

                    <% if current_user.profile_type == "Employee" %>
                        <td><%= link_to "Edycja",  edit_lesson_path(lesson.id), class: "btn btn-success  btn-xs"   %></td>

                       

                        <td> <%= form_for(lesson, :method => :delete) do |f| %>
                        <%= f.submit :value => "Delete", class: "btn btn-danger btn-xs"%>
                        <% end %></td>

                    <% else %>
                        <%if (lesson.room.places - lesson.students.count) == 0 %>
                         <td> Brak wolnych miejsc </td>
                        <% elsif lesson.students.pluck(:id).include?(current_user.profile.id) %>
                          <td> Jesteś zapisany </td>
                         <% else %>
                            <td> <%= form_for :lesson, url: lessons_path, html: { method: :post, :class => "form-horizontal"} do |f| %>
                                    <%= f.hidden_field :lesson_id, value: lesson.id %>
                                    <%= f.submit "Zapisz", class: "btn btn-primary active btn-lg" %>
                                 <% end %> 
                             </td>
                        <%end%>
                    
                    <%end%>



                </tr>
                <% end %>
                <% end %>
        </tbody>

    </table>

