


    <%= render 'lessons/error_messages' %>
<div class="container">
    <div class="login-container">
            <div id="output" ></div>
            <div class="form-box">
            <h3> Dodawanie Nowego Przedmiotu </h3>
            <%= form_for :lesson, url: lessons_path, html: { method: :post, :class => "form-horizontal"} do |f| %>
                    <%= f.text_field :name, placeholder: "Nazwa", style: "text-transform: capitalize"  %>
                    <div class="form-box">
                     <%= f.label "Godzina rozpoczecia" %>
                    </div>
                    <%= f.select(:hour, ["8:00","10:00","12:00", "14:00", "16:00", "18:00"], {}, {class: "form-control"} ) %>

                    <div class="form-box">
                        <%= f.label "Dzień tygodnia" %>
                    </div>
                     <%= f.select(:day, ["Poniedziałek","Wtorek","Środa", "Czwartek", "Piątek"], {}, {class: "form-control"} ) %>
     


                    <div class="form-box">
                        <%= f.label "Wybierz tydzień" %>
                    </div>
                    <%= f.select(:week_type, ["A","B","AB"], {}, {class: "form-control"} ) %>
                     <div class="form-box">
                        <%= f.label "Sala ID"%>
                    </div>
                        <div class ="form-box "> <%= f.collection_select(:room_id, Room.all, :id, :name,{:prompt=>false}, {:class=>'form-control'}) %> </div>
                    
                    <hr>
                    <div class="form-group text-center">
                        <%= f.submit "Zapisz", class: "btn btn-primary active btn-lg" %>
                    </div>
                <% end %>
        </div>
    <div class="col-xs-2 col-sm-4" >
    </div>
     </div>
</div>